@import  url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,600&display=swap');

@media (max-width: 1200px) {
  h2 {
    color: black;

  }
body {
  background-color: rgb(15, 100, 22);
  font-size: medium;
  color: white;
}
}

@media (min-width: 1200px) and (max-width: 1700px) {
body {
    background-color: rgba(183, 218, 86, 0.788);
    color: black;
  }
   
}

.container {
  display: flex;
  justify-content: center;
}

.list {
  text-align: center;
  color: white;

}

#outputItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box1 {
  margin: 0px 75px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.box2 {
margin: 0px 75px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}